ul {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 14px;
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  a {
    text-decoration: none;
    color: #555;
    padding: 14px 16px;
  }
  
  a:hover {
    color: blue;
  }
  
  a.active {
    background-color: #555;
    color: white;
    border-radius: 4px;
  }